h2 {
  text-transform: uppercase;
}
.btn-success {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 25%;
}

@media screen and (max-width: 800px) {
  .btn-success {
    width: 50%;
  }
}
